body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}

.label {
  display: block;
  min-width: 130px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  height: 40px;
  background-color: silver;

  .active {
    font-weight: bold;
  }
}

.mainpage {
  padding: 10px;
}

.errorpage {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.error {
  margin-left: 10px;
  color: red;
}

.card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  border: none;
  padding: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.card-text h3 {
  margin: 10px;
  align-self: center;
}

.card-text p {
  margin: 4px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
